/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 30px;
    font-weight: 900;
    background-position: center;
    background-image: url("https://viajem.herokuapp.com/img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.box{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.8;
}

.box2{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.8;
}

.box2 p {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    -margin: 0px;
}

p.local {
   font-size: 20px;
   margin: 0px;
   padding: 0px;
}

p.contador {
   font-size: 20px;
}

.my-float{
   position:fixed;
   top:20px;
   right:20px;
}

#add{
   position:fixed;
   top:20px;
   right:60px;
   border-radius: 50%;
}

.icone {
    width: 15vw;
    height: 15vw;
}

label.btn {
    padding: 5px;
    border-radius: 0px;
    margin: 5px;
}

label.btn.active{
    border-color: #f00;
    background-color: #f00;
}

.azul {
    background-color: #0066cc;
}

.vermelho {
    background-color: #800000;
}

.verde {
    background-color: #339933;
}

.coin {
    position:fixed;
    bottom: -15vw;
    right:  42.5vw;
    width: 15vw;
    height: 15vw;
}

.animate {
    animation: myanim 2s infinite;
}

@keyframes myanim {
    20% { bottom: 15vh ; }
    40% { bottom: 20vh; }
    60% { bottom: 25vh; }
    80% { bottom: 20vh; }
    100% { bottom: -7.5vw; }
}
