/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    font-family: 'VT323', monospace !important;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 30px;
    font-weight: 400 !important;
    background-position: center;
    background-image: url("https://viajem.herokuapp.com/img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.box{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.8;
}

.box2{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.8;
}

.box3{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #2f2e40;
    opacity: 1;
}

.box2 p {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    -margin: 0px;
}

.box3 p {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px
    -margin: 0px;
    color: #c0c8cf;
}

p.local {
   font-size: 20px;
   margin: 0px;
   padding: 0px;
}

p.contador {
   font-size: 20px;
}

p.info {
    margin: 0px ;
    font-size: 15px !important;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px
}

.info-box {
    border: #c0c8cf 1px solid;
    padding: 20px;
}

.my-float{
   position:fixed;
   top:0px;
   right:0px;
   width: 60px;
   height: 60px;
}

.my-float.rotating-out {
    transform-origin: 47% 50.5%;
    -webkit-animation:rotating-out 1s infinite;
    -moz-animation:rotating-out 1s infinite;
    animation: rotating-out 1s infinite;
    animation-iteration-count: 1
}

#add{
   position:fixed;
   top:20px;
   right:60px;
   border-radius: 50%;
}

.icone {
    width: 15vw;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
}

label.btn {
    padding: 5px;
    border-radius: 0px;
    margin: 5px;
}

label.btn.active{
    border-color: #f00;
    background-color: #f00;
}

.coin {
    position:fixed;
    bottom: -15vw;
    right:  42.5vw;
    width: 15vw;
    height: 15vw;
    z-index: 999999;
}

.animate {
    animation: myanim 2s infinite;
}

@keyframes myanim {
    20% { bottom: 48vw ; }
    40% { bottom: 48vw; }
    60% { bottom: 50vw; }
    80% { bottom: 50vw; }
    100% { bottom: 48vw; }
}

.logo {
    --transform: scaleX(-1);
}

.front {
    width: 50vw;
    height: 50vw;
    max-width: 128px;
    max-height: 128px;
}

 /*This part is important for centering*/

.typing-wrapper {
  width: 90vw;
  display: flex;
  align-items: left;
  justify-content: center;
  padding-top: 20px;
}

.typing-demo {
  height: 30px;
  border-right: 15px solid #c0c8cf;
  white-space: nowrap;
  font-size: 25px;
  color: #c0c8cf;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

@keyframes rotating-out { 
     from {
        -webkit-transform: rotate(359deg);
        transform:rotate(359deg); 
        
     }
     to { 
        -webkit-transform: rotate(0deg); 
        transform:rotate(0deg); 
        top:-20px;
        right:-20px;
        width: 100px;
        height: 100px;
        opacity: 0.1;
    } 
}

.balao {
     color:  #B8860B;
     font-size: 30px;
     background-image: url("/img/balao.png");
}

.turret {
    background-color:  #B8860B;
    width: 10vw;
    height: 10vw;
}

.laser {
    background-color:  #B8860B;
    width: 10vw;
    height: 10vw;
}

.box1{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    opacity: 1;
}