html, body {
    height: 100%;
    font-size: 30px;
    font-weight: 900;
    background-position: center;
    background-image: url("https://viajem.herokuapp.com/img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
    opacity: 0.6;
}
.contador {
   font-size: 20px;
}
p {
    margin-top: 10px;
    margin-bottom: 10px;
}