/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    font-family: 'VT323', monospace !important;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 30px;
    font-weight: 400 !important;
}

.map-box{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 1;
}

.btn-mic {
   border: 1px solid black;
   background-color: white;
   color: black;
}

.btn-mic.active {
   border: 1px solid black;
   background-color: black;
   color: white;
}

.float-center{
   position: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   bottom: 10vw;
   left: 40vw;
   width: 20vw;
   height: 20vw;
   border-radius: 50%;
   z-index: 9999;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.version-info {
   position: fixed;
   bottom: 60vw;
   font-size: 20px;
   left: 10vw;
   width: 80vw;
   text-align: center;
   z-index: 9999;
}

.audio-info {
   position: fixed;
   bottom: 10vw;
   font-size: 20px;
   left: 10vw;
   width: 90vw;
   text-align: left;
   z-index: 9999;
}

.audio-wave-box {
   position: fixed;
   color: "#fff";
   background-color: black;
   display: flex;
   justify-content: center;
   align-items: center;
   bottom: 40vw;
   left: 10vw;
   width: 80vw;
   height: 20vw;
   border-radius: 10px;
   z-index: 9999;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.audio-wave-canvas {
     width: 90%;
     height: 90%;
}