/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    font-family: 'VT323', monospace !important;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 30px;
    font-weight: 400 !important;
}

.map-box{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 1;
}

.btn-mic {
   border: 1px solid black;
   background-color: white;
   color: black;
}

.btn-mic.active {
   border: 1px solid black;
   background-color: black;
   color: white;
}

.btn-reload {
   border: 1px solid black;
   background-color: white;
   color: black;
}

.btn-reload.active {
   border: 1px solid black;
   background-color: black;
   color: white;
}

.btn-player {
   border: 1px solid black;
   background-color: white;
   color: black;
}

.btn-player:hover {
   border: 1px solid black;
   background-color: black;
   color: white;
}

.btn-delete {
   border: 1px solid black;
   background-color: white;
   color: black;
}

.btn-delete:hover {
   border: 1px solid black;
   background-color: black;
   color: white;
}

.btn-camera {
   border: 1px solid black;
   background-color: white;
   color: black;
}

.btn-camera:hover {
   border: 1px solid black;
   background-color: black;
   color: white;
}

.float-center{
   position: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   bottom: 10vw;
   left: 50vw;
   width: 25vw;
   height: 25vw;
   max-width: 25vh;
   max-height: 25vh;
   border-radius: 50%;
   z-index: 9999;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.float-right{
   position: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   bottom: 20vw;
   right: 5vw;
   width: 15vw;
   height: 15vw;
   max-width: 15vh;
   max-height: 15vh;
   border-radius: 50%;
   z-index: 9999;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.float-top-right {
   position: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   bottom: 40vw;
   right: 5vw;
   width: 15vw;
   height: 15vw;
   max-width: 15vh;
   max-height: 15vh;
   border-radius: 50%;
   z-index: 9999;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.float-top2-right {
   position: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   bottom: 60vw;
   right: 5vw;
   width: 15vw;
   height: 15vw;
   max-width: 15vh;
   max-height: 15vh;
   border-radius: 50%;
   z-index: 9999;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.float-top3-right {
   position: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   bottom: 80vw;
   right: 5vw;
   width: 15vw;
   height: 15vw;
   max-width: 15vh;
   max-height: 15vh;
   border-radius: 50%;
   z-index: 9999;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.owner-info {
   position: fixed;
   top: 10vw;
   font-size: 20px;
   right: 10vw;
   width: 80vw;
   text-align: center;
   z-index: 9999;
}

.icone-v3{
   position: fixed;
   bottom: 25vw;
   font-size: 20px;
   left: 5vw;
   width: 10vw;
   height: 10vw;
   text-align: center;
   z-index: 9999;
}

.version-info {
   position: fixed;
   bottom: 0vw;
   font-size: 15px;
   left: 5vw;
   width: 40vw;
   text-align: left;
   z-index: 9999;
}

.audio-info {
   position: fixed;
   bottom: 55vw;
   font-size: 20px;
   left: 10vw;
   width: 80vw;
   text-align: center;
   z-index: 9999;
   border-radius: 10px;
   background-color: rgba(0,0,0,0.5);
   color: #fff;
}

.audio-wave-box {
   position: fixed;
   color: #fff;
   background-color: rgba(0,0,0,0.5);
   display: flex;
   justify-content: center;
   align-items: center;
   bottom: 40vw;
   left: 10vw;
   width: 80vw;
   height: 20vw;
   border-radius: 10px;
   z-index: 9999;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.audio-wave-box.playing {
   background-color: rgba(0,0,0,1);
}

.audio-wave-canvas {
     width: 90%;
     height: 90%;
}

.modal-body {
     display: flex;
     justify-content: center;
     align-items: center;
}

#camera-canvas {
     border: 2px solid black;
     border-radius: 10px;
     background-color: #ccc;
     box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media only screen and (min-width: 800px) {
  .float-center {
      left: 70vw;
      bottom: 10vh;
  }
  .float-right {
      bottom: 20vh;
  }
  .float-top-right {
      bottom: 40vh;
  }
  .float-top2-right {
      bottom: 60vh;
  }
  .float-top3-right {
      bottom: 80vh;
  }
  .icone-v3 {
      top: 5vw;
  }
}

.modal-backdrop {
    z-index: 10000;
}
