/* Optional: Makes the sample page fill the window. */
html, body {
    font-family: 'VT323', monospace !important;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 30px;
    font-weight: 400 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#signature {
    width: 300px;
    height: 200px;
    border: 2px black solid;
}

#buttons {
    width: 300px
    height: 100px;
    display: flex;
    justify-content: stretch;
    flex-direction: row;
}

#btn-like {
   display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#btn-dislike {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}