#loading {
    position: absolute;
    background-color: rgba(255,255,255,0.5);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-transform-style: preserve-3d;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
    animation: cube-rotating 1s infinite;
}
#loading .front {
    position: absolute;
    border: 2px solid #fff;
    width: 32px;
    height: 32px;
    -webkit-transform-style: preserve-3d;
    transform: translateZ(16px);
}
#loading .back {
    position: absolute;
    border: 2px solid #fff;
    width: 32px;
    height: 32px;
    -webkit-transform-style: preserve-3d;
    transform: translateZ(-16px) rotateY(180deg);
}
#loading .left {
    position: absolute;
    border: 2px solid #fff;
    width: 32px;
    height: 32px;
    -webkit-transform-style: preserve-3d;
    transform: translateX(-16px) rotateY(-90deg);
}
#loading .top {
    position: absolute;
    border: 2px solid #fff;
    width: 32px;
    height: 32px;
    -webkit-transform-style: preserve-3d;
    transform: translateY(-16px) rotateX(90deg);
}
#loading .right {
    position: absolute;
    border: 2px solid #fff;
    width: 32px;
    height: 32px;
    -webkit-transform-style: preserve-3d;
    transform: translateX(16px) rotateY(90deg);
}
#loading .bottom {
    position: absolute;
    border: 2px solid #fff;
    width: 32px;
    height: 32px;
    -webkit-transform-style: preserve-3d;
    transform:  translateY(16px) rotateX(-90deg);
}

@keyframes cube-rotating {
  0% {
    transform: rotateX(0) rotateY(45) rotateZ(0);
  }
  100% {
    transform: rotateX(0) rotateY(45) rotateZ(360);
  }
}