/*@media print {*/
* { margin: 0 !important; padding: 0 !important; }
#controls, .footer, .footerarea{ display: none; }
html, body {
    /*changing width to 100% causes huge overflow and wrap*/
    height:100%; 
    overflow: hidden;
    background: #FFF; 
    font-size: 9.5pt;
}

#cube-container {
   width: 17cm;
   height: 22cm;
}
#cube-container img {
   border: 1mm solid black;
   width: 5cm;
   height: 5cm;
   border: 0px;
}
.space {
   width: 5cm;
   height: 5cm;
}
.fold-left {
   border: 1mm dashed black;
   width: 1cm;
   height: 5cm;
}
.fold-left-up {
   border: 1mm dashed black;
   width: 5cm;
   height: 5cm;
}
.fold-up {
   border: 1mm dashed black;
   width: 5cm;
   height: 1cm;
}
.fold-up-right {
   border: 1mm dashed black;
   width: 1cm;
   height: 5cm;
}
.fold-right {
   border: 1mm dashed black;
   width: 1cm;
   height: 5cm;
}
.fold-right-bottom {
   border: 1mm dashed black;
   width: 5cm;
   height: 5cm;
}
.fold-bottom {
   border: 1mm dashed black;
   width: 5cm;
   height: 1cm;
}
.fold-bottom-left {
   border: 1mm dashed black;
   width: 5cm;
   height: 5cm;
}