/* Optional: Makes the sample page fill the window. */
html, body {
    font-family: 'VT323', monospace !important;
    font-size: 20px;
    margin: 0;
    padding: 0;
    height: 100%;
    font-weight: 400 !important;
    background-color: #2f2e40;
    color: #fff;
    --background-image: url(../img/100.jpg);
    background-position: center;
    background-size: cover;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     text-align: center;
     overflow: hidden;
}
#interface {
     background-color: #000;
     position: fixed;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     text-align: center;
     overflow: hidden;
     width: 100%;
     height: 100%;
     z-index: 9999;
}
#authentication {
     background-color: #2f2e40;
     position: fixed;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     text-align: center;
     overflow: hidden;
     width: 100%;
     height: 100%;
     z-index: 9999;
}
#auth-header {
     position: fixed;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     text-align: center;
     overflow: hidden;
     width: 100%;
     top: 30vh;
     z-index: 9999;
}
#auth-footer {
     position: fixed;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     text-align: center;
     overflow: hidden;
     width: 100%;
     bottom: 20vh;
     z-index: 9999;
}
.modal-title {
     color: #000;
}
.place {
     color: #000;
}
#add {
     position: fixed;
     top: 2vh;
     left: 5vw;
     font-size: 50px;
}
#delete {
     position: fixed;
     top: 12vh;
     left: 5vw;
     font-size: 40px;
}
#cube-id {
     position: fixed;
     top: 2vh;
     right: 5vw;
     font-size: 30px;
     text-align: right;
}
#record-no {
     position: fixed;
     top: 12vh;
     right: 5vw;
     font-size: 30px;
     text-align: right;
}
#previous {
     position: fixed;
     top: 20vh;
     left: 5vw;
     font-size: 50px;
}
#next {
    position: fixed;
    top: 20vh;
    right: 5vw;
    font-size: 50px;
}
#cube-container {
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 50px;
    width: 100%;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-transform-style: preserve-3d;
    z-index: 9998;
}
#cube-container .front {
    background-color: #ccc;
    border: 2px solid #000;
    position: absolute;
    margin-left: 0px;
    margin-top: 0px;
    width: 128px;
    height: 128px;
    -webkit-transform-style: preserve-3d;
    transform: translateZ(64px);
}
#cube-container .back {
    background-color: #ccc;
    border: 2px solid #000;
    position: absolute;
    width: 128px;
    height: 128px;
    -webkit-transform-style: preserve-3d;
    transform: translateZ(-64px) rotateY(180deg);
}
#cube-container .left {
    position: absolute;
    background-color: #ccc;
    border: 2px solid #000;
    width: 128px;
    height: 128px;
    -webkit-transform-style: preserve-3d;
    transform: translateX(-64px) rotateY(-90deg);
}
#cube-container .top {
    position: absolute;
    background-color: #ccc;
    border: 2px solid #000;
    width: 128px;
    height: 128px;
    -webkit-transform-style: preserve-3d;
    transform: translateY(-64px) rotateX(90deg);
}
#cube-container .right {
    position: absolute;
    background-color: #ccc;
    border: 2px solid #000;
    width: 128px;
    height: 128px;
    -webkit-transform-style: preserve-3d;
    transform: translateX(64px) rotateY(90deg);
}
#cube-container .bottom {
    position: absolute;
    background-color: #ccc;
    border: 2px solid #000;
    width: 128px;
    height: 128px;
    -webkit-transform-style: preserve-3d;
    transform:  translateY(64px) rotateX(-90deg);
}
#camera-canvas {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 128px;
    height: 128px;
    border: 1px black solid;
    background-color: #212026;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    z-index: 9999;
}
#opacity {
    position: absolute;
    transform: rotateY(90deg);
}
#dropdown {
    text-align: left;
    position: fixed;
    right: 10px;
    bottom: 10px;
    margin: 0px;
}
#dropdown,
#cube-modal {
    z-index: 99999;
}
#modal-footer-left {
    position: absolute;
    left: 15px;
    color: #000;
    text-align: left;
}
#version-info {
    text-align: left;
    position: fixed;
    left: 10px;
    bottom: 10px;
    margin: 0px;
    z-index: 9999;
}