/* Optional: Makes the sample page fill the window. */
html, body {
    font-family: 'VT323', monospace !important;
    font-size: 20px;
    margin: 0;
    padding: 0;
    height: 100%;
    font-weight: 400 !important;
    background-color: #2f2e40;
    color: #000;
    --background-image: url(../img/100.jpg);
    background-position: center;
    background-size: cover;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     text-align: center;
     overflow: hidden;
}

#rotation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #2f2e40;
}

.map-box{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 1;
}

#circle {
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
}

#circle span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    z-index: 9999;
}

#circle #north-indicator {
    margin-left: 0px;
    margin-top: 0px;
    padding: 26.75px 30px;
    border-radius: 50%;
    border: 2px solid #000;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

#circle #north-indicator-ball {
    width: 10px;
    height: 10px;
    margin-left: 0px;
    margin-top: 0px;
    border-radius: 50%;
    background-color: #822B2B;
    border: 2px solid #000;
}

#circle span:nth-of-type(1n) {
    margin-left: 0px;
    margin-top: -95px;
}
#circle span:nth-of-type(2n) {
    margin-left: 95px;
    margin-top: 0px;
}
#circle span:nth-of-type(3n) {
    margin-left: 0px;
    margin-top: 95px;
}
#circle span:nth-of-type(4n) {
    margin-left: -95px;
    margin-top: 0px;
}
#circle span:nth-of-type(5n) {
    width: 10px;
    height: 10px;
    margin-left: 0px;
    margin-top: 0px;
    border-radius: 50%;
    background-color: #0ff;
    border: 2px solid #000;
}

#circle span.done {
    background-color: #5f5;
}

.btn-north {
   border: 2px solid black;
   background-color: white;
   color: black;
   position: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   bottom: 100px;
   right: 10px;
   width: 15vw;
   height: 15vw;
   max-width: 25vh;
   max-height: 25vh;
   border-radius: 50%;
   z-index: 9999;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.active {
   background-color: #283747;
   color: white;
}

#version-info {
    text-align: left;
    position: fixed;
    left: 10px;
    bottom: 10px;
    margin: 0px;
    z-index: 9999;
}

#indicators {
    text-align: right;
    position: fixed;
    right: 10px;
    bottom: 10px;
    margin: 0px;
    z-index: 9999;
}