/* Optional: Makes the sample page fill the window. */
html, body {
    font-family: 'VT323', monospace !important;
    font-size: 20px;
    margin: 0;
    padding: 0;
    height: 100%;
    font-weight: 400 !important;
    background-color: #2f2e40;
    color: #000;
    --background-image: url(../img/100.jpg);
    background-position: center;
    background-size: cover;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     text-align: center;
     overflow: hidden;
}

#camera-canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80vw;
    height: 20vh;
    border: 1px black solid;
    border-radius: 25px;
    background-color: #212026;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#rotation {
    position: fixed;
    top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 9999;
}

.map-box{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 1;
}

#circle {
    bottom: 80px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #aaa;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
}

#circle span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    z-index: 9999;
}

#circle #north-indicator-container {
    margin-left: 0px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-transform-style: preserve-3d;
    z-index: 9999;
}

#circle #north-indicator {
    position: relative;
    color: #fff;
    background: linear-gradient(180deg, 
    rgba(157,4,4,1) 0%, 
    rgba(157,4,4,1) 48%, 
    rgba(0,0,0,1) 50%, 
    rgba(0,183,220,1) 52%, 
    rgba(0,183,220,1) 100%);
    padding: 26.75px 30px;
    border-radius: 50%;
    border: 2px solid #000;
    -webkit-transform-style: preserve-3d;
    transform: translate3d(0px, 0px, 5px);
}

#circle #north-indicator-backside {
    color: #fff;
    position: absolute;
    background-color: rgba(100, 100, 100, 1);
    margin-left: 0px;
    margin-top: 0px;
    padding: 26.75px 30px;
    border-radius: 50%;
    border: 2px solid #000;
    -webkit-transform-style: preserve-3d;
    transform: translate3d(0px, 0px, -5px);
}

.cylinder-face-0 {
    position: absolute;
    background-color: rgba(100, 100, 100, 1);
    border: 2px solid #000;
    width: 10px;
    height: 50px;
    -webkit-transform-style: preserve-3d;
    transform: rotateY(90deg) rotateX(90deg) translateY(-25px);
}
.cylinder-face-1 {
    position: absolute;
    background-color: rgba(100, 100, 100, 1);
    border: 2px solid #000;
    width: 10px;
    height: 50px;
    -webkit-transform-style: preserve-3d;
    transform: rotateY(90deg) translateX( -25px);
}
.cylinder-face-2 {
    position: absolute;
    background-color: rgba(100, 100, 100, 1);
    border: 2px solid #000;
    width: 10px;
    height: 50px;
    -webkit-transform-style: preserve-3d;
    transform: rotateY(90deg) rotateX(90deg) translateY(25px);
}
.cylinder-face-3 {
    position: absolute;
    background-color: rgba(100, 100, 100, 1);
    border: 2px solid #000;
    width: 10px;
    height: 50px;
    -webkit-transform-style: preserve-3d;
    transform: rotateY(90deg) translateX(25px);
}

#circle span:nth-of-type(1n) {
    margin-left: 0px;
    margin-top: -95px;
}
#circle span:nth-of-type(2n) {
    margin-left: 95px;
    margin-top: 0px;
}
#circle span:nth-of-type(3n) {
    margin-left: 0px;
    margin-top: 95px;
}
#circle span:nth-of-type(4n) {
    margin-left: -95px;
    margin-top: 0px;
}
#circle span:nth-of-type(5n) {
    width: 10px;
    height: 10px;
    margin-left: 0px;
    margin-top: 0px;
    border-radius: 50%;
    background-color: #0ff;
    border: 2px solid #000;
}

#circle span.done {
    background-color: #5f5;
}

.btn-map {
   border: 2px solid black;
   background-color: white;
   color: black;
   position: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   bottom: 170px;
   right: 10px;
   width: 15vw;
   height: 15vw;
   max-width: 25vh;
   max-height: 25vh;
   border-radius: 50%;
   z-index: 9999;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.btn-north {
   border: 2px solid black;
   background-color: white;
   color: black;
   position: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   bottom: 100px;
   right: 10px;
   width: 15vw;
   height: 15vw;
   max-width: 25vh;
   max-height: 25vh;
   border-radius: 50%;
   z-index: 9999;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.btn-camera {
   border: 2px solid black;
   background-color: white;
   color: black;
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 30px;
   margin-left: 75vw;
   width: 10vw;
   height: 10vw;
   max-width: 15vh;
   max-height: 15vh;
   border-radius: 50%;
   z-index: 9999;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.active {
   background-color: #283747;
   color: white;
}

#version-info {
    text-align: left;
    position: fixed;
    left: 10px;
    bottom: 10px;
    margin: 0px;
    z-index: 9999;
}

#indicators {
    text-align: right;
    position: fixed;
    right: 10px;
    bottom: 10px;
    margin: 0px;
    z-index: 9999;
}