/* Optional: Makes the sample page fill the window. */
html, body {
    font-family: 'VT323', monospace !important;
    font-size: 20px;
    margin: 0;
    padding: 0;
    height: 100%;
    font-weight: 400 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #2f2e40;
    color: #fff;
    --background-image: url(../img/100.jpg);
    background-position: center;
    background-size: cover;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     text-align: center;
     overflow: hidden;
}

#timer {
    font-size: 50px;
}

.counters {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
}

.counters  i{
     margin-bottom: 20px;
}

.counters  div{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}

.counter {
     font-size: 50px;
     background-color: #000;
     border: 2px solid #aaa;
     animation: odo 1s ease 0s 1 normal forwards;
}

.line {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
}

.line button {
     margin: 10px;
     border: 2px solid black;
}

#circle {
     bottom: 80px;
     width: 100px;
     height: 100px;
     border-radius: 50%;
     border: 2px solid #aaa;
     position: absolute;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}

#circle span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
}

#circle span:nth-of-type(1n) {
    margin-left: 0px;
    margin-top: -95px;
}
#circle span:nth-of-type(2n) {
    margin-left: 95px;
    margin-top: 0px;
}
#circle span:nth-of-type(3n) {
    margin-left: 0px;
    margin-top: 95px;
}
#circle span:nth-of-type(4n) {
    margin-left: -95px;
    margin-top: 0px;
}
#circle span:nth-of-type(5n) {
    width: 10px;
    height: 10px;
    margin-left: 0px;
    margin-top: 0px;
    border-radius: 50%;
    background-color: #0ff;
    border: 2px solid #000;
}

#circle span.done {
    background-color: #5f5;
}

#version-info {
    text-align: left;
    position: fixed;
    left: 10px;
    bottom: 10px;
    margin: 0px;
}

@keyframes odo {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}