/* Optional: Makes the sample page fill the window. */
html, body {
    font-family: 'VT323', monospace !important;
    font-size: 20px;
    margin: 0;
    padding: 0;
    height: 100%;
    font-weight: 400 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #2f2e40;
    color: #fff;
    --background-image: url(../img/100.jpg);
    background-position: center;
    background-size: cover;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     text-align: center;
}

#timer {
    font-size: 50px;
}

.line {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
}

.line button {
     margin: 10px;
     border: 2px solid black;
}

.counter {
   font-size: 50px;
   background-color: #000;
   border: 2px solid #aaa;
}

#version-info {
    text-align: left;
    position: fixed;
    left: 10px;
    bottom: 10px;
    margin: 0px;
}