/* Optional: Makes the sample page fill the window. */
html, body {
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 800;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #343434;
    color: #000;
    background-position: center;
    background-size: cover;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     text-align: center;
     overflow: hidden;
     //transform: rotateY(180deg);
}
#version-info {
    color: #343434;
    text-align: left;
    position: fixed;
    left: 10px;
    bottom: 10px;
    margin: 0px;
    z-index: 9999;
}

#version-info:hover {
   color: #fff;
}

/* Controls */
#numbers {
   position: fixed;
   top: 100px;
   background: #343434;
   width: 90vw;
   height: 100vw;
   font-size: 40px;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   flex-wrap: wrap;
   font-weight: 900;
   z-index: 9999;
}

#numbers button {
   background: #ccccce;
   color: #000;
   width: 20vw;
   height: 20vw;
   margin: 3vw 5vw;
   border-radius: 50%;
   border: 2px solid #ccc;
   --box-shadow: 5px 10px #888888;
}

#numbers i,
#numbers img {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   width: 20vw;
   height: 20vw;
   margin: 3vw 5vw;
   background: #38C75E;
   color: #fff;
   border-radius: 50%;
}

#numbers button span {
   display: block;
   background: rgba(1,1,1,0);
   color: #000;
   font-size: 15px;
}

#numbers button:hover {
   background: #ccccce;
   color: #000;
   width: 20vw;
   height: 20vw;
   margin: 3vw 5vw;
   border-radius: 50%;
   border: 2px solid #ccc;
}

#number {
   justify-content: center;
   align-items: center;
   flex-direction: column;
   position: fixed;
   top: 10px;
   background: #343434;
   color: #fff;
   width: 100vw;
   font-size: 30px;
   font-weight: 900;
   height: 90px;
}

#video-layer {
   position: fixed;
   left: 0px;
   top: 0px;
   background: rgba(0,0,0,0.3);
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   z-index: 99999;
}

#broadcaster-username {
  width: 100vw;
  color: white;
  font-size: 30px;
}

#controls {
  width: 100vw;
  color: white;
  font-size: 50px;
}

#toggle-video, 
#toggle-controls {
  font-size: 30px;
}

#time-streaming {
  color: white;
  font-size: 50px;
  background: rgba(0,0,0,0.5);
  padding: 0px 20px;
  border-radius: 20px;
  border: 2px solid gray;
}

#video-stream {
   background: rgba(0,0,0,1);
   width: 100vw;
}

#temporary-workaround {
   border: none;
}

#online-count {
   position: fixed;
   color: white;
   font-size: 30px;
   right: 10px;
   bottom: 10px;
   text-align: right;
   z-index: 99999;
}

.modal-backdrop {
   z-index: 99998;
}
#contact-list-modal {
   z-index: 99999;
}
#contact-list {
   text-align: left;
   overflow-y: scroll;
}
#modal-bottom-left {
   position: absolute;
   left: 10px;
   text-align: left;
   font-size: 40px;
}

ul {
   list-style: none;
   padding: 0px;
}

ul li {
   margin: 10px 0px;
}

li img {
   width: 50px;
   height: 50px;
   border: 2px solid purple;
   padding: 2px;
   margin-right: 20px;
   border-radius: 50%;
}

#mini-skate {
   position: fixed;
   width: 100vw;
   height: 100vw;
}