/* Optional: Makes the sample page fill the window. */
html, body {
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 800;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #2f2e40;
    color: #000;
    background-position: center;
    background-size: cover;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     text-align: center;
     overflow: hidden;
}
#version-info {
    text-align: left;
    position: fixed;
    left: 10px;
    bottom: 10px;
    margin: 0px;
    z-index: 9999;
}

/* Controls */
#numbers {
   position: fixed;
   top: 100px;
   background: #2f2e40;
   width: 100vw;
   height: 100vw;
   font-size: 40px;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   flex-wrap: wrap;
   z-index: 9999;
}

#numbers button {
   background: #fff;
   color: #000;
   width: 25vw;
   height: 25vw;
   margin: 4vw;
   border-radius: 50%;
   border: 2px solid #ccc;
}

#numbers button span {
   background: rgba(1,1,1,0);
   color: #000;
   font-size: 20px;
}

#numbers button:hover {
   background: #ccc;
   color: #000;
   width: 25vw;
   height: 25vw;
   margin: 4vw;
   border-radius: 50%;
   border: 2px solid #ccc;
}

#number {
   justify-content: center;
   align-items: center;
   flex-direction: column;
   position: fixed;
   top: 10px;
   background: #2f2e40;
   color: white;
   width: 100vw;
   height: 90px;
}