/* Optional: Makes the sample page fill the window. */
html, body {
    font-family: 'VT323', monospace !important;
    font-size: 25px;
    margin: 0;
    padding: 0;
    height: 100%;
    font-weight: 400 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #2B2A32;
    color: white;
}

.finish-line {
   width: 100vw;
   height: 100px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   overflow: hidden;
   justify-content: center;
   align-items: center;
}

.black {
   background: #000;
   width: 20px;
   height: 20px;
}

.white {
   background: #fff;
   width: 20px;
   height: 20px;
}

#title {
   position: fixed;
   top: 20%;
   font-size: 30px;
}

#timer {
   position: fixed;
   top: 25%;
   font-size: 50px;
}

#blue {
   background: url(../img/eye-right.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   border: 2px solid black;
   color: black;
   position: fixed;
   --background: #fff;
   font-size: 50px;
   width: 50px;
   height: 50px;
   left: 20px;
   bottom: 20px; 
   border-radius: 50%;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#red {
   background: url(../img/eye-left.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   border: 2px solid black;
   color: black;
   position: fixed;
   --background: #fff;
   font-size: 50px;
   width: 50px;
   height: 50px;
   right: 20px;
   bottom: 20px;
   border-radius: 50%;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#result {
   width: 100%
   position: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   text-align: center;
   bottom: 40%;
   font-size: 30px;
}