/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    font-family: 'VT323', monospace !important;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 30px;
    font-weight: 400 !important;
}

.box{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 1;
}