/* Optional: Makes the sample page fill the window. */
html, body {
    font-family: 'VT323', monospace !important;
    font-size: 25px;
    margin: 0;
    padding: 0;
    height: 100%;
    font-weight: 400 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #2B2A32;
    color: white;
}

.btn.active {
    border: 2px solid black;
    background-color: black;
    color: white;
}

.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
}

.wave {
    width: 90vw;
    height: 100px;
}

@-webkit-keyframes leftIn { 
    0% { -webkit-transform: translateX(-100%); opacity: 1; }
    100% { -webkit-transform: translateX(0%); opacity: 1; }
} 
@keyframes leftIn { 
    0% { transform: translateX(-100%); opacity: 0; } 
    100% { transform: translateX(0%); opacity: 1; } 
} 
animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.leftIn { 
    -webkit-animation-name: leftIn; 
    animation-name: leftIn; 
} 
.animated.leftIn { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
}